<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VB換行取代</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
    <div>
        <label>想要取代的文字:</label><br/>
        A.<input type="text" id="BeChangedWords0"/> 被取代成 <input type="text" id="ChangedWords0" /><br />
        B.<input type="text" id="BeChangedWords1"/> 被取代成 <input type="text" id="ChangedWords1" /><br />
        C.<input type="text" id="BeChangedWords2"/> 被取代成 <input type="text" id="ChangedWords2" /><br />
        D.<input type="text" id="BeChangedWords3"/> 被取代成 <input type="text" id="ChangedWords3" /><br />
        D.<input type="text" id="BeChangedWords4"/> 被取代成 <input type="text" id="ChangedWords4" /><br />
        D.<input type="text" id="BeChangedWords5"/> 被取代成 <input type="text" id="ChangedWords5" /><br />
        <label>想要轉換的內容:</label><br />
        <textarea name="" id="inputText" cols="75" rows="20" placeholder="請輸入文字.."></textarea>
    </div>
    <div>
        <button type="button" id="btnTransfer" class="btn-success">
            轉換
        </button>
    </div>
    <div>
        <label>轉換後的文字:</label><br />
        <p id="transferedContentWord"></p>
        <label>結果:</label><br />
        <p id="transferedContent"></p>
    </div>
    <script>
        $(function () {
            $('#btnTransfer').click(function () {
                var tranfer = $('#inputText').val()
                    .replaceAll("vbCrLf", '<br/>')
                    .replaceAll("vbCr", '<br/>')
                    .replaceAll($('#BeChangedWords0').val(), $('#ChangedWords0').val())
                    .replaceAll($('#BeChangedWords1').val(), $('#ChangedWords1').val())
                    .replaceAll($('#BeChangedWords2').val(), $('#ChangedWords2').val())
                    .replaceAll($('#BeChangedWords3').val(), $('#ChangedWords3').val())
                    .replaceAll($('#BeChangedWords4').val(), $('#ChangedWords4').val())
                    .replaceAll($('#BeChangedWords5').val(), $('#ChangedWords5').val())
                $('#transferedContentWord').text(tranfer);                               
                $('#transferedContent').html(tranfer);
        });
        });

    </script>
</body>
</html>